In [27]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [31]:
collars = pd.DataFrame()
# Create grid with regular x and y coords
x = np.linspace(0, 100, 11) 
y = np.linspace(0, 100, 11)

X, Y = np.meshgrid(x, y)

x=X.flatten() + np.random.normal(0, 1, 121)
y=Y.flatten() + np.random.normal(0, 1, 121)

z=np.random.normal(100, 10, 121)
dhid= [f'DH-{i}' for i in range(1, len(X)*len(Y) + 1)]

collars = pd.DataFrame({'dhid':dhid,'x': x, 'y': y, 'z': z})

# Exact Duplicates
exact_duplicates = collars.sample(5)

# Duplicates with different z values
diff_z_dups = collars.sample(5)
diff_z_dups['z'] = diff_z_dups['z'] + 1

# Duplicates with different x values
diff_x_dups = collars.sample(5)
diff_x_dups['x'] = diff_x_dups['x'] + 10

# Duplicates with different y values
diff_y_dups = collars.sample(5)
diff_y_dups['y'] = diff_y_dups['y'] + 10

# Close Duplicates
close_duplicates = collars.sample(5)
close_duplicates['dhid'] = close_duplicates['dhid'].apply(lambda x: f'{x}c')
close_duplicates['x'] = close_duplicates['x'] + random.random()
close_duplicates['y'] = close_duplicates['y'] + random.random()
close_duplicates['z'] = close_duplicates['z'] + random.random()

# Combine
dhid_collars = pd.concat([collars,
                  exact_duplicates,
                  diff_z_dups,
                  diff_x_dups,
                  diff_y_dups,
                  close_duplicates], ignore_index=True)

In [32]:
dhid_collars.to_csv('../00_Datasets/collars.csv', index=False)

In [33]:
dhid_collars

       dhid           x          y           z
0      DH-1   -1.195555   0.329439   83.831597
1      DH-2    8.390114  -2.036542   97.305504
2      DH-3   19.382881   0.722607  102.682669
3      DH-4   31.140890   0.666755  128.992683
4      DH-5   39.768896  -1.313822   97.109442
..      ...         ...        ...         ...
141  DH-28c   49.796157  20.217093   91.093298
142  DH-95c   60.691453  80.464091  102.711047
143  DH-34c   -0.087231  31.606804   94.110586
144  DH-88c  101.053997  71.576766   78.037048
145  DH-23c    2.196489  22.241017  101.288400

[146 rows x 4 columns]